{% extends "index.html" %} {% block title%} About God's Care Child Ministry
Uganda {%endblock%} {% load static%} {% block content %}
<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="mb-4">
          Learn More About Our Work And Our Cultural Activities
        </h1>
        <p>
          Welcome to God's Care Child Ministry Uganda, where we are dedicated to
          providing care and support to children in need within our community.
          Founded by Adam Ssebatta and his friends in Mityana, Uganda, our
          ministry began as a spontaneous response to the needs of children in
          SSekanyonyi, Mityana, Central Uganda.
        </p>
        <p class="mb-4">
          At God's Care Child Ministry Uganda, our mission is to bring the
          Fatherhood of God to the fatherless through family structures,
          Christian education, and biblical self-sustainability. We aim to equip
          indigenous peoples to carry the message of Jesus, fostering a
          multi-cultural team focused on shared service.
        </p>
        <p class="mb-4">
          We provide essential care and support to orphans, addressing the root
          causes of fatherlessness in Uganda. Our goal is to raise up a
          generation of godly men and women who will stand for truth, defend the
          widow, care for the orphan, and live out the Gospel of Jesus Christ in
          every area and sphere of life in Uganda.
        </p>
        <div class="row g-4 align-items-center">
          <div class="col-sm-6">
            <a class="btn btn-primary rounded-pill py-3 px-5" href=""
              >Read More</a
            >
          </div>
          <div class="col-sm-6">
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle flex-shrink-0"
                src="{%static 'img/user1.jpeg'%}"
                alt=""
                style="width: 45px; height: 45px"
              />
              <div class="ms-3">
                <h6 class="text-primary mb-1">Adam Ssebatta</h6>
                <small>CEO & Founder</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
          <div class="col-12 text-center">
            <img
              class="img-fluid w-75 rounded-circle bg-light p-3"
              src="{% static 'img/about-1.jpeg' %}"
              alt=""
            />
          </div>
          <div class="col-6 text-start" style="margin-top: -150px">
            <img
              class="img-fluid w-100 rounded-circle bg-light p-3"
              src="{% static 'img/abou2.jpg' %}"
              alt=""
            />
          </div>
          <div class="col-6 text-end" style="margin-top: -150px">
            <img
              class="img-fluid w-100 rounded-circle bg-light p-3"
              src="{%static 'img/abou3.jpg' %}"
              alt
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

{% endblock %}
