{% extends "index.html" %} {% block title%} About God's Care Child Ministry
Uganda {%endblock%} {% load static%} {% block content %}

<!-- Call To Action Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded">
      <div class="row g-0">
        <div
          class="col-lg-6 wow fadeIn"
          data-wow-delay="0.1s"
          style="min-height: 400px"
        >
          <div class="position-relative h-100">
            <img
              class="position-absolute w-100 h-100 rounded"
              src="{% static 'img/call-to-action2.jpg' %}"
              style="object-fit: cover"
            />
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <div class="h-100 d-flex flex-column justify-content-center p-5">
            <h1 class="mb-4">
              Become A Donar and support the ministry activities
            </h1>
            <p class="mb-4">
              We're God's Care Child Ministry Uganda, dedicated to feeding,
              educating, and providing social services to children in need. Your
              donation can make a significant difference in their lives,
              ensuring they have access to nutritious meals, educational
              resources, and the care they need to thrive. Please consider
              supporting us or contact us at godscarechildministry13@gmail.com
            </p>
            <a
              class="btn btn-primary py-3 px-5"
              href="https://www.instagram.com/pastorssebattamadam/"
              >Get Started Now<i class="fa fa-arrow-right ms-2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Call To Action End -->

{% endblock%}
