{% extends "index.html" %} {% block title%} About God's Care Child Ministry
Uganda {%endblock%} {% load static%} {% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Ministry Facilities</h1>
      <p>To continue our mission of supporting children in need.</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="facility-item">
          <div class="facility-icon bg-primary">
            <span class="bg-primary"></span>
            <i class="fa fa-bus-alt fa-3x text-primary"></i>
            <span class="bg-primary"></span>
          </div>
          <div class="facility-text bg-primary">
            <h3 class="text-primary mb-3">Farm Land</h3>
            <p class="mb-0">
              We need to enlarge the farm land with time to provide more
              resources for the children's nutrition and education.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="facility-item">
          <div class="facility-icon bg-success">
            <span class="bg-success"></span>
            <i class="fa fa-futbol fa-3x text-success"></i>
            <span class="bg-success"></span>
          </div>
          <div class="facility-text bg-success">
            <h3 class="text-success mb-3">Playground</h3>
            <p class="mb-0">
              The playground is essential for the children's physical and mental
              development. We aim to expand it to accommodate more activities
              and children.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="facility-item">
          <div class="facility-icon bg-warning">
            <span class="bg-warning"></span>
            <i class="fa fa-home fa-3x text-warning"></i>
            <span class="bg-warning"></span>
          </div>
          <div class="facility-text bg-warning">
            <h3 class="text-warning mb-3">Healthy Canteen</h3>
            <p class="mb-0">
              A healthy canteen is vital for providing nutritious meals to the
              children. We plan to establish one to improve their health and
              well-being.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="facility-item">
          <div class="facility-icon bg-info">
            <span class="bg-info"></span>
            <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
            <span class="bg-info"></span>
          </div>
          <div class="facility-text bg-info">
            <h3 class="text-info mb-3">Positive Learning</h3>
            <p class="mb-0">
              Positive learning involves providing children with practical
              skills that are essential for their future success. We aim to
              offer various educational programs to achieve this goal.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
